.sidebar {
  width: 260px;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
}

.sidebar-item {
  padding: 1em;
  display: block;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.sidebar-title {
  display: flex;
  font-size: 1.4em;
  justify-content: space-between;
  font-size: medium;
}

.sidebar-title:hover {
  color: red;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(90deg);
}

.sidebar-content {
  height: 0;
  overflow: hidden;
  font-size: smaller;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-link {
  text-decoration: none;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  display: block;
}

.sidebar-link:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; /* Hide the sidebar on smaller screens */
  }

  /* Optionally, you can adjust other styles for small screens */
  .sidebar-title {
    font-size: 1.2em;
  }

  .sidebar-link {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

/* Add these styles to your existing CSS */


.sidebar-title a.selected,
.sidebar-link.selected {
  color: red; /* Add your preferred text color for selected items */
}
