.sidebar {
  width: 260px;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
}

.sidebar-item {
  padding: 8px;
  padding-left: 20px;
  display: block;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.sidebar-content {
  height: 0;
  overflow: hidden;
  font-size: smaller;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-title {
  display: flex;
  font-size: 1.4em;
  justify-content: space-between;
  font-size: medium;
}

.sidebar-title:hover {
  color: red;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(90deg);
}

.sidebar-link {
  text-decoration: none;
  margin-top: 8px;
  margin-left: 12px;
  display: block;
}

.sidebar-link:hover {
  color: red;
}

.sidebar-link.active,
.sidebar-title.active {
  color: red;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar-title {
    font-size: 1.2em;
  }

  .sidebar-link {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}
